.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 9px 31px;
  outline: none;
  font-size: 24px;
  font-family: 'Manrope';
  color: #0F0E14;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, .65);
  border-radius: 100px;

  &_large {
    font-size: 2rem;
  }
}