.progress-tracker {
  width: 100%;
  max-width: 80%;
  margin: auto;
  margin-top: 30px;
  padding: 30px;
  background-color: #f5f5f5;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .stages {
    display: flex;
    position: relative;
    width: 100%;
    height: 50px;

    &:before {
      content: '';
      position: absolute;
      top: 20%;
      left: 0;
      height: 4px;
      background-color: #e6e6e6;
      transform: translateY(-50%);
      border-radius: 2px;
      z-index: 0;
    }

    .stage {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      position: relative;
      z-index: 1;
      margin: 0 4px;

      .stage-dot-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .stage-dot {
          background-color: #fff;
          border: 4px solid #fa4d1e;
          border-radius: 50%;
          width: 10px;
          height: 10px;
          transition: background-color 0.3s, border-color 0.3s;
        }
      }

      &:before {
        content: '';
        position: absolute;
        top: 20%;
        left: 0;
        width: calc(100% - 8px);
        height: 4px;
        background-color: #fa4d1e; // Active color
        transform: translateY(-50%);
        border-radius: 2px;
        z-index: -1;
      }

      &.active {
        ~ .stage .stage-dot-container .stage-dot {
          border-color: #ddd;
        }
        ~ .stage:before {
          background-color: #d0d5dd; // Active color for progress bar and previous progress bars
        }
      }

      .stage-label {
        margin-top: 12px;
        color: #333;
        font-size: 16px;
        text-align: center;
        font-family: 'Noto Sans', sans-serif;
      }

      .stage-info {
        background-color: #0F0E14;
        color: #FFFFFF;
        padding: 15px 20px;
        border-radius: 10px;
        position: absolute;
        top: 100%;
        white-space: nowrap;
        transform: translateX(-50%);
        left: 50%;
        margin-top: 20px;
        font-size: 14px;
        font-weight: 500;
        font-family: 'Noto Sans', sans-serif;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        // Add the pointer
        &::after {
          content: '';
          position: absolute;
          top: -10px;
          left: 50%;
          transform: translateX(-50%);
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid #0F0E14;
          z-index: 1;
        }
      }
    }
  }
}
